# The name of your service on Serverless
SERVICE_NAME="my-service"
# The variables needed by Google Custom Search API
GOOGLE_CUSTOM_SEARCH_API_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLM"
GOOGLE_CUSTOM_SEARCH_CX="123456789012345678901:abcdefghijk"
# The tokens for each of the available bots
DABBEXT_BOT_TOKEN="123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghi"
QUOTE_GENERATOR_BOT_TOKEN="123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghi"
TELEGRAM_MEDIA_CONVERT_BOT_TOKEN="123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghi"
WOTD_BOT_TOKEN="123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghi"
# The list of chat IDs allowed to receive the word of the day
WOTD_CHAT_IDS_ALLOWLIST="0123456789"
