# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Secret files
.env

# Layers artifacts
layers/*/build

# Yarn 4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

service-account.json
